.fancybutton {
    background-color: #23ade5;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.fancybutton:hover {
    filter: opacity(60%);
}

.fancybutton:active {
    filter: opacity(30%);
}

.fancymenu {
    display: block;
    margin-bottom: 10px;
}

.fancymenu .fancybutton:nth-child(n+2) {
    margin-left: 5px;
}

.fancybox {
    background-color: #fff; font-size: 14px; z-index: 999999; position: absolute;
}

.fancylist {
    width: 320px; height: 360px; overflow-y: auto; border: 1px solid #23ade5; display: inline-block;
}

.fancylist span:nth-child(1) {
    width: calc(50% - 50px);
}

.fancylist span:nth-child(2) {
    width: calc(50% + 25px);
}

.fancylist textarea {
    resize: none;
    height: calc(100% - 40px);
    width: calc(100% - 8px);
    font-size: 14px;
    padding: 3px;
}

.fancyitem {
    display: inline-block;
    padding: 5px;
    text-align: center;
    border: 1px solid #fff;
}

.fancytitle {
    background-color: #000; color: #fff;
}

.fancybody span:nth-child(1) {
    padding: 7px 5px 6px;
}

.fancybody span:nth-child(2) {
    background-color: #ddd;
}

.fancyfooter {
    margin-top: 3px;
}

.fancyfooter .fancybutton:nth-child(n+2) {
    margin-left: 5px;
}

div.room-info-down-row > span {
    margin-left: 5px
}
